<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Dumlupinar University</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />

</head>
<body>

	<div class="container">
  		<div align="center"><a href="/"><img th:src="@{/image/logoSiyah.jpg}"/></a> 
  		</div>
  		  		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/">Ogrenci Kuluplerine Hosgeldin!</a>
		        </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				        <li class="" th:class="${controllerName == 'Home'} ? 'dropdown active' : 'dropdown'"><a href="/">Anasayfa</a></li>
				        <li class="dropdown" th:class="${controllerName == 'KulupActivity'} ? 'dropdown active' : 'dropdown'">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kulupler<span class="caret"></span></a>
				            <ul class="dropdown-menu">
				                <li><a href="/kulupler/liste">Liste</a></li>
				            </ul>
				        </li>
				        <li class="dropdown" th:class="${controllerName == 'BaskanActivity'} ? 'dropdown active' : 'dropdown'">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Baskanlar<span class="caret"></span></a>
				            <ul class="dropdown-menu">
				                <li><a href="/baskanlar/liste">Liste</a></li>
				            </ul>
				        </li>
				          <li class="dropdown" th:class="${controllerName == 'Konusmaci'} ? 'dropdown active' : 'dropdown'">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Konusmacilar<span class="caret"></span></a>
				            <ul class="dropdown-menu">
				                <li><a href="/konusmacilar/liste">Liste</a></li>
				            </ul>
				        </li>
				          <li class="dropdown" th:class="${controllerName == 'Etkinlik'} ? 'dropdown active' : 'dropdown'">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Etkinlikler<span class="caret"></span></a>
				            <ul class="dropdown-menu">
				                <li><a href="/etkinlikler/liste">Liste</a></li>
				            </ul>
				        </li>
						<li class="dropdown" th:class="${controllerName == 'AdminPost'} ? 'dropdown active' : 'dropdown'" sec:authorize="hasRole('ROLE_ADMIN')">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
				            <ul class="dropdown-menu">
				                <li><a href="/admin/kulupler/">Kulup Ekle</a></li>
				                <li><a href="/admin/baskanlar/">Baskan Ekle</a></li>
				                 <li><a href="/admin/konusmacilar/">Konusmaci Ekle</a></li>
				                <li><a href="/admin/etkinlikler/">Etkinlik Ekle</a></li>				                
				            </ul>
				        </li>					        
				    </ul>
				   
	
				    <div class="navbar-text navbar-right">
			            Hosgeldin <span sec:authentication="name">Kullanicisi</span>
				    	<form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
				    		| <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Cikis</a>
				    	</form>
				    	<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Giris</a>
				    </div>
	
	
				</div>
		    </div>
		</nav>	
		
		<div class="col-md-12">
	
		<h2> <img  th:src="@{/image/events.png}"/></h2>
		<br/>
<!-- 
	   	<table class="table table-striped">
			<thead> 
				<tr> 
					<th>#</th> 
					<th>Etkinlik Ad</th> 
					<th>Tarih</th> 
					<th>Adres</th> 
					<th>Durum</th> 
					<th>Kulup</th> 
					<th>Konusmaci</th> 
				 <th>Icerik</th> 
				
				
				</tr> 
			</thead>
			<tbody>
				<tr th:each="etkinlik, iterationStatus : ${etkinlikler}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="${etkinlik.ad}">Etkinlik Ad</td>
					<td th:text="${#calendars.format(etkinlik.tarih, 'M/dd/yyyy')}">Tarih</td>
					<td th:text="${etkinlik.adres}">Adres</td>
					<td th:text="${etkinlik.durum}">Durum</td>
					<td th:text="${etkinlik.kulupAd}">Kulup</td>
					<td th:text="${etkinlik.konusmaci}">Konusmaci</td>
				<td th:text="${etkinlik.icerik}">Icerik</td>   
			 td><a th:href="|/posts/byAuthor/${author.id}|">Posts By Author</a></td> 
				</tr>
			</tbody>
		</table>
-->	  <article  th:each="etkinlik : ${etkinlikler}" >
	
			<header>
			   	<h2><a th:href="|@{/etkinlikler/gorunum/}${etkinlik.id}|" th:text="${etkinlik.ad}">Etkinlik Ad</a></h2>
				<p th:text="${#calendars.format(etkinlik.tarih, 'M/dd/yyyy')}">Tarih</p>
				<p th:text="${etkinlik.durum}">Durum</p>
				<p th:text="${etkinlik.adres}">Adres</p>
				<p th:text="${etkinlik.kulupAd}">Kulup</p>
				<p th:text="${etkinlik.konusmaci}">Konusmaci</p>
			</header>
		<!--  	<section th:utext="${etkinlik.icerik}">
				Icerik
			</section>
		-->
			<footer>
			
			<!--	<address>
					Posted By <a th:href="|mailto:${post.author.email}|"> <span th:text="|${post.author.firstName} ${post.author.lastName}|">author</span></a>
				</address>  -->
			</footer>
			<hr/>
		
		</article>	
	   	<p th:if="${etkinlikler.size() == 0}">
			<div class="alert alert-warning" role="alert">Tum Etkinlikler.</div>
		</p>
	</div>
	
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>


	