<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Blog Main Layout</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />

</head>
<body>

	<div class="container">
  		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/">Ogrenci Kuluplerine Hosgeldin!</a>
		        </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				        <li class="" th:class="${controllerName == 'Home'} ? 'dropdown active' : 'dropdown'"><a href="/">Anasayfa</a></li>
				        <li class="dropdown" th:class="${controllerName == 'Kulup'} ? 'dropdown active' : 'dropdown'">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kulupler<span class="caret"></span></a>
				            <ul class="dropdown-menu">
				                <li><a href="/kulupler/liste">Liste</a></li>
				            </ul>
				        </li>
				        <li class="dropdown" th:class="${controllerName == 'Baskan'} ? 'dropdown active' : 'dropdown'">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Baskanlar<span class="caret"></span></a>
				            <ul class="dropdown-menu">
				                <li><a href="/baskanlar/liste">Liste</a></li>
				            </ul>
				        </li>
						<li class="dropdown" th:class="${controllerName == 'AdminPost'} ? 'dropdown active' : 'dropdown'" sec:authorize="hasRole('ROLE_ADMIN')">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
				            <ul class="dropdown-menu">
				                <li><a href="/admin/kulupler/">Kulup Ekle</a></li>
				                <li><a href="/admin/baskanlar/">Baskan Ekle</a></li>				                
				            </ul>
				        </li>					        
				    </ul>
				   
	
				    <div class="navbar-text navbar-right">
			            Hosgeldin <span sec:authentication="name">Kullanicisi</span>
				    	<form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
				    		| <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Cikis</a>
				    	</form>
				    	<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Giris</a>
				    </div>
	
	
				</div>
		    </div>
		</nav>	
		
		<div class="col-md-12">
	
		<h2>Baskan Ekle</h2>
		<br/>

		<form class="form-horizontal" th:object="${baskan}" th:action="@{/admin/baskan/save}" method="post">
			<input type="hidden" th:field="*{baskanId}" />
			<div class="form-group">
				<label class="col-sm-2 control-label">Ad Soyad: </label>
				<div class="col-md-10">
					<input type="text" class="form-control" th:field="*{baskanAdSoyad}" />
				</div>
			</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Telefon</label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{baskanTelefon}" />
		    	</div>
		  	</div>
		
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Baskan Mail</label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{baskanMail}" />
		    	</div>
		  	</div>
		
			<button type="submit" class="btn btn-default">Ekle</button>
		</form>
		
	</div>
	
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>


	